body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
  margin: 0;
  flex-direction: column; /* 제목(h2)랑 폼 세로 정렬 */
}

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 65px;
  color: #24cf0d;
  margin-bottom: 20px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
}

form {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  border: 3px solid #ccc;
  border-radius: 10px;
  background: #000000;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  background: #333;
  color: #fff;
  box-sizing: border-box;
}

form input:focus {
  outline: 2px solid #24cf0d;
  background: #444;
}

form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #113f13;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #53dd5c;
  color: #000;
}

#msg {
  margin-top: 12px;
  color: #e74c3c;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 1024px) {
  form {
    max-width: 500px;
  }
}
